<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="steamDirectory" value="C:\Program Files (x86)\Steam" />
        <add key="steamUserDirectory" value="C:\Program Files (x86)\Steam\userdata\311731144" />
        <add key="playstation1RomsDirectory" value="C:\Users\sabaa\Downloads\Games\Roms\Playstation - 01" />
        <add key="playstation1EmulatorExecutable" value="C:\Users\sabaa\Downloads\Games\Emulators\Playstation - 01\ePSXe205\ePSXe.exe" />
        <add key="playstation1EmulatorExecutableArguments" value="-bios {0} -loadbin {1} -nogui" />
        <add key="playstation1EmulatorBios" value="C:\Users\sabaa\Downloads\Games\Emulators\Playstation - 01\ePSXe205\bios\SCPH1000.BIN" />
        <add key="playstation2RomsDirectory" value="C:\Users\sabaa\Downloads\Games\Roms\Playstation - 02" />
        <add key="playstation2EmulatorExecutable" value="C:\Users\sabaa\Downloads\Games\Emulators\Playstation - 02\pcsx2-1.6.0-binaries\pcsx2.exe" />
        <add key="playstation2EmulatorExecutableArguments" value="{0} --nogui --fullscreen" />
    </appSettings>
</configuration>